body {
  margin: 0;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  overflow: hidden;
}

span {
  background: url("https://cdn4.iconfinder.com/data/icons/set-1/32/__1-512.png");
  position: absolute;
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: animate 3s linear forwards;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
  100% {
    transform: translate(-50%, -500px) scale(0);
    opacity: 0;
  }
}
