
.subscribe-button {
  background-color: rgb(200, 0, 0);
  color:white;
  border: none;
  padding-top:10px ;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
  transition: opacity .15s;
  vertical-align: top;
  
}
.subscribe-button:hover{
  opacity:0.8;
}
.subscribe-button:active{
   opacity: 0.5;
}
.join-button{
   background-color: white;
   padding-top: 9px ;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
   border-color: rgb(25, 86, 252) ;
   color: rgb(25, 86, 252);
   border-style: solid;/*To make bordercolor solid */
   border-width: 1px;
   cursor: pointer;
   border-radius: 3px;
   transition: background-color .15s ,color .15s;
     
}
.join-button:hover{
  background-color:rgb(25, 86, 252) ;
  color: white;
}
.join-button:active{

  opacity: 0.7;
}
.tweet-button{
  background-color: rgb(16, 111, 255);
  border: none;
  padding-top: 9px ;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 15px;
  color: white;
  font-weight: bold; /*To make the font bold*/
  font-size: medium;
  cursor: pointers;
   margin-left: 9px;
   transition: box-shadow 0.15s;
   vertical-align: top;
  

}
.tweet-button:hover{
  box-shadow:5px 5px 10px rgba(0,0,0,0.15) ; 
  /* 1 st horizontal position 2nd vertical position 3rd is
   blur 4th color */

}


